*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1c1e2e inset !important;
  -webkit-text-fill-color: white !important;
}

.dropdown-item:hover{
  color: #1c1e2e !important;
  background-color: aliceblue !important;
}

#inp::selection {
  background: #144EE3; /* ya koi bhi dark shade */
  color: white;
}


@media screen and (max-width: 500px) {
    #main{
        height: auto !important;
        padding-bottom: 95px !important;
    }
    #main-buttons{
        padding: 0px !important;
        margin-top: 20px !important;
    }
    #links{
    margin-top: 0px !important;
  }
    #links h1{
        font-size: 2rem !important;
    }
  form {
    flex-direction: column !important;
    height: auto !important;
    padding: 10px !important;
    border-radius: 20px !important;
  }

  form input {
    width: 100% !important;
    margin: 10px 0 !important;
  }

  form button {
    width: 100% !important;
    margin-top: 10px !important;
    height: 50px !important;
  }

  .short-url-display {
    word-break: break-all;
    text-align: center;
  }

  /* -------------------------- qr scan */

  .qr-row1{
    margin-left: 1px !important;
  
  }
  .qr-row1 h4{
    margin-top: 50px !important;
  }
  .box{
    margin-left: 55px !important;
    margin-top: 2px !important;
  }

  #filter{
    margin-bottom: 30px !important;
  }

  #protect-url{
    padding: 9px 114px !important;
    margin-right: 0px !important;
  }
  #togglePassword{
    margin-right: 5px !important;
  }

  #redirect h2{
    font-size: 2rem !important;
    margin-top: 0px !important;
  }

  #main{
    height: auto !important;
  }

}

@media screen and (max-width: 768px){
  .box{
    height: 80% !important;
    width: 80% !important;
    margin-top: 35px !important;
    margin-left: 47px !important;
  }
}

@media screen and (max-width: 820px){
  .qr-row1{ 
    margin-top: -1px;
  }
  .box{
    height: 80% !important;
    width: 80% !important;
    margin-top: 35px !important;
    margin-left: 35px !important;
  }
}

@media screen and (min-width: 1024px){
  #qr{
    padding-bottom: 378px !important;
  }
  .qr-row1{ 
    margin-top: -1px;
  }
  #links h1{
    font-size: 3rem !important;
    }
    .box{
    height: 80% !important;
    width: 80% !important;
    margin-top: 35px !important;
    margin-left: 32px !important;
  }
}
